{% extends "default/module.html.jinja2" %}


{% block nav %}
    {% block module_list_link %}
        {% set parentmodule = ".".join(module.modulename.split(".")[:-1]) %}
        {% if parentmodule and parentmodule in all_modules %}
            <a class="pdoc-button module-list-button" href="../{{ parentmodule.split(".")[-1] }}.html">
                {% include "resources/box-arrow-in-left.svg" %}
                &nbsp;
                <span class="rainbow-text"> {{- parentmodule -}} </span>
            </a>
        {% elif not root_module_name %}
            <a class="pdoc-button module-list-button rainbow-text" href="{{ "../" * module.modulename.count(".") }}index.html">
                {% include "resources/box-arrow-in-left.svg" %}
                &nbsp;
                Module Index
            </a>
        {% endif %}
    {% endblock %}

    {% block nav_title %}
        {% if logo %}
            {% if logo_link %}<a href="{{ logo_link }}">{% endif %}
            <img src="{{ logo }}" class="logo" alt="project logo"/>
            {% if logo_link %}</a>{% endif %}
        {% endif %}
    {% endblock %}

    {% block search_box %}
        <hr/>
        {% if search and all_modules|length > 1 %}
            {# we set a pattern here so that we can use the :valid CSS selector #}
            <input type="search" placeholder="Search..." role="searchbox" aria-label="search"
                   pattern=".+" required>
        {% endif %}
        <center>
            <img src="/assets/spiral.png" width="42px"></img>
            <img src="/assets/spiral.png" width="42px"></img>
            <img src="/assets/spiral.png" width="42px"></img>
            <img src="/assets/spiral.png" width="42px"></img>
        </center>
    {% endblock %}

    {% set index = module.docstring | to_markdown | to_html | attr("toc_html") %}
    {% if index %}
        {{ index | safe }}
    {% endif %}

    {% if module.submodules %}
        <p class="moduleheading"><strong class="purple">🐍 Modules</strong></p>
        <ul>
            {% for submodule in module.submodules if is_public(submodule) | trim %}
                <li> <strong><span class="submodulename">{{ submodule.taken_from | link(text="☞ " + submodule.name) }}</span></strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if module.members %}
        <p class="moduleheading"><strong class="purple">🐍 Source code</strong></p>
        {{ nav_members(module.members.values()) }}
    {% endif %}

    {% block nav_footer %}
        {% if footer_text %}
            <footer>{{ footer_text }}</footer>
        {% endif %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-J2F6B5TG3F"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-J2F6B5TG3F');
        </script>
    {% endblock %}

{% endblock nav %}

{% defaultmacro module_name() %}
    {%- if module.modulename != 'byb' -%}
    <h1 class="modulename">
        {% set parts = module.modulename.split(".") %}
        {% for part in parts %}
            {%- set fullname = ".".join(parts[:loop.index]) -%}
            {%- if fullname in all_modules and fullname != module.modulename -%}
                <a class="moduleparent" href="./{{ "../" * loop.revindex0 }}{{ part }}.html">{{ part }}</a>
            {%- else -%}
                {{ part }}
            {%- endif -%}
            {%- if loop.nextitem -%}
                <wbr>.
            {%- endif -%}
        {% endfor %}
    </h1>
    {%- endif -%}
{% enddefaultmacro %}